<body>
    <mat-toolbar>
        <div class="left-part">
        <mat-form-field>
            <input matInput type="search" placeholder="Search">
        </mat-form-field>
    </div>
    
    <span class="right-part"></span>
    <div>
        <button 
        mat-icon-button
        matTooltip="home"
        >
        <mat-icon> home </mat-icon>
        </button>
    </div>
    <div>
        <button
        mat-icon-button 
        matTooltip="notifications"
        >
        <mat-icon> notifications </mat-icon>
        </button>
    </div>
    <div>
        <button
            class="size"
            mat-icon-button
            matTooltip="menu"
            [matMenuTriggerFor]="menu"
        >
        <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <a class="size" mat-menu-item (click)="logout()">Logout</a>
            <a class="size" mat-menu-item>Setting</a>
        </mat-menu>
    </div>
</mat-toolbar>
</body>
