<app-navbar></app-navbar>
<body>
  
  <mat-card class="mat-card-full">
    <mat-card-row>
    <mat-card class="example-card">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="card-title">
        <p>A man's feet should be planted in his country,</p> 
        <p> but his eyes should survey the world</p>
      </mat-card-title>
    </mat-card>
  </mat-card-row>
  <br>
  <br>
  
  <mat-card>
    <button class="matbutton" mat-icon-button (click)="create()">
      <mat-icon>
        add
      </mat-icon>
    </button>
    <mat-tab-group>
      
      <mat-tab label="All-Survey" >
        <br>
        <div class="main-container layout">
          <div fxLayout="row" fxLayout="row wrap">
            <mat-card mat-ripple class="card-content" *ngFor="let dash of cards" fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25" (click)="coba()">
              <div fxLayout="row">
                <!-- <div fxFlex="40"  fxLayout="row"  fxLayoutAlign="center center">
                  <mat-icon>{{dash.icon}}</mat-icon>
                      </div> -->
                      <div fxFlex="60" fxLayout="column" fxLayoutAlign="center center">
                          <p class="mat-body-1">
                              {{dash.title}}
                            </p>
                      </div>
                    </div>  
              </mat-card>
            </div>
            
            
            
            <div fxLayout="row" fxLayout="row wrap">
              <app-bar-graph fxFlex="37.5" fxFlex.lt-sm="100" fxFlex.sm="50"></app-bar-graph>
              <app-doughnut-graph fxFlex="37.5" fxFlex.lt-sm="100" fxFlex.sm="50"></app-doughnut-graph>
              <app-line-graph fxFlex="25" fxFlex.lt-sm="100" fxFlex.sm="100"></app-line-graph>
            </div>
          </div>
          
        </mat-tab>
        <mat-tab label="Assign-Survey"> 
          <div class="main-container layout">
            <div fxLayout="row" fxLayout="row wrap">
              <mat-card mat-ripple class="card-content" *ngFor="let dash of cards" fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25" (click)="coba()">
                <div fxLayout="row">
                  <!-- <div fxFlex="40"  fxLayout="row"  fxLayoutAlign="center center">
                    <mat-icon>{{dash.icon}}</mat-icon>
                      </div> -->
                      <div fxFlex="60" fxLayout="column" fxLayoutAlign="center center">
                        <p class="mat-body-1">
                          {{dash.title}}
                        </p>
                      </div>
                    </div>  
                  </mat-card>
                </div>
                
                <div fxLayout="row" fxLayout="row wrap">
                  <app-bar-graph fxFlex="37.5" fxFlex.lt-sm="100" fxFlex.sm="50"></app-bar-graph>
                  <app-doughnut-graph fxFlex="37.5" fxFlex.lt-sm="100" fxFlex.sm="50"></app-doughnut-graph>
                  <app-line-graph fxFlex="25" fxFlex.lt-sm="100" fxFlex.sm="100"></app-line-graph>
                </div>
              </div>        
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </mat-card>
    </body>
      