body {
    margin: 20px;
    padding: 20px;
}

.example-card {
    padding: 50px;
    background-color: #40405f;
}

.example-header-image {
    background-image: url("/assets/pict/header.svg");

}

.mat-card-avatar {
    height: 150px;
    width: 150px;
    float: left;
}

.mat-card-full {
    background-color: #f5f5f5;
}

.card-title {
    font-size: 2rem;
    text-align: center;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.mat-icon {
    color: black;
}

.matbutton {
   background-color: #40405f;
    position: relative;
    left: 90%;
}

.mat-body-1 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-content {
    margin-right: 20px;
    margin-bottom : 10px;
}
