mat-toolbar{
    height: 300px;
    color: azure;
}

#tabs .mat-tab-group{
    margin-top: 100px;
}

p.title{
    font-size: 16px;
}

.icon{
    padding: 0 14px;
}

.spacer{
    flex: 1 1 auto;
}

::ng-deep .card{
    margin: -185px auto 0;
    margin-left: 220px;
    width: 50%;
    border-radius: 10px !important;
}

::ng-deep .title{
    font-size: 16px;
}

.img-card{
    margin: -185px auto 0;
    margin-left: 50px;
    background-color: white;
    width: 50%;
    height: 50%;
}

.span-img{
    font-size: 14px;
    color: grey;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mat-card-avatar{
  height:150px;
  width: 150px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.questions{
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.full-width{
    width: 100%;
}

.input-question{
    width: 60%;
}

ul li{
    list-style-type: none;
}

.mat-question-container{
    width: 95%;
}

.mat-card-button{
    background: whitesmoke;
    width: 4%;
}

::ng-deep .no-line .mat-form-field-underline{
    display: none;
}

::ng-deep .no-line .mat-select-panel{
    background-color: #222222;
}