<app-navbar></app-navbar>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <a routerLink="/dashboard">
        <mat-icon style="color: white; padding-top: 8px;" aria-label="Keyboard backspace icon">keyboard_backspace</mat-icon>
      </a>
    </button>
    <p class="title" *ngIf="title !== ''">
      {{title}}
    </p>
    <p class="title" *ngIf="title === ''">
      Untitled
    </p>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon aria-label="Palette icon">palette</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-label="Remove red eye icon">remove_red_eye</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Question start here -->
<section fxFlexFill fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px">
  <div mat-card-avatar fxLayoutAlign="center center" (click)="addImage($event)" class="img-card">
      <div>
        <img src="" alt="">
        <span class="span-img" fxLayoutAlign="center center">+<br />Choose logo</span>
      </div>
  </div>

  <mat-card class="card">
    <div id="tabs">
      <mat-tab-group mat-align-tabs="center">
          <mat-tab label="QUESTIONS">

            <!-- SECTION -->
            <form id="formGroup" [formGroup]="formGroup" class="questions" (ngSubmit)="onSubmit(formGroup.value)" novalidate>
              <mat-form-field class="full-width">
                <input 
                  matInput placeholder="Survey Name"
                  formControlName="title"
                  [(ngModel)]="title">
              </mat-form-field>

              <mat-form-field class="full-width">
                  <input 
                    matInput placeholder="Description"
                    formControlName="desc">
                </mat-form-field>

              <!-- CONTENT OF SECTION -->
              <div formArrayName="pages">
                <div *ngFor="let section of form.pages['controls']; let i = index">
                  <div formGroupName="{{i}}">
                    <mat-form-field class="full-width">
                      <input 
                        matInput placeholder="Untitled Form"
                        formControlName="title"
                        class="title">
                    </mat-form-field>
      
                    <mat-form-field class="full-width">
                      <input 
                        matInput placeholder="Form description"
                        formControlName="desc">
                    </mat-form-field>

                    <!-- QUESTIONS -->
                    <div
                      formArrayName="questions" cdkDropList (cdkDropListDropped)="drop($event)" class="mat-question-container">
                      <div 
                        *ngFor="let question of section['controls'].questions['controls']; let j=index" cdkDrag>
                        <mat-card cdkDragHandle>
                          <div formGroupName="{{j}}">
                            <mat-form-field class="input-question">
                              <input 
                                matInput placeholder="Untitled Question"
                                formControlName="question">
                            </mat-form-field>
                            &nbsp;
                            <button mat-icon-button>
                              <mat-icon>photo</mat-icon>
                            </button>
                            &nbsp;
                            <mat-form-field class="no-line">
                              <mat-select 
                                [(value)]="selected" 
                                formControlName="questionType">
                                <mat-select-trigger>
                                  <mat-icon>radio_button_checked</mat-icon> &nbsp;Multiple Choice
                                </mat-select-trigger>
                                <mat-option *ngFor="let pil of option" [value]="pil.nilai">
                                  <mat-icon>{{ pil.icon }}</mat-icon>
                                  {{ pil.teks }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>   

                            <!-- Jawaban -->
                            <div *ngIf="selected">
                              <mat-form-field *ngIf="selected === 'SHORT_ANSWER'">
                                <input 
                                  matInput
                                  placeholder="short answer text"> 
                              </mat-form-field>

                              <mat-form-field
                              *ngIf="selected === 'LONG_ANSWER'">
                                <textarea
                                  minRows="2"
                                  matInput
                                  placeholder="long answer text">
                                </textarea>
                              </mat-form-field>

                              <div *ngIf="selected === 'MULTIPLE'">
                                <div formArrayName="optionAnswer">
                                  <div *ngFor="let question of question['controls'].optionAnswer['controls']; let index = index">
                                    <div formGroupName="{{index}}">
                                      <mat-icon>radio_button_unchecked</mat-icon>
                                      <mat-form-field>
                                        <input 
                                          matInput
                                          placeholder="option"
                                          formControlName="value">
                                      </mat-form-field>
                                      <button mat-icon-button (click)="removeOption(i,j)">
                                        <mat-icon>delete</mat-icon>
                                      </button>
                                    </div>
                                  </div>
                                  <p><span (click)="addOption(i, j)">add option</span></p>
                                </div>
                              </div>

                              <div *ngIf="selected === 'CHECKBOX'">
                                <div formArrayName="optionAnswer">
                                  <div *ngFor="let question of question['controls'].optionAnswer['controls']; let index = index">
                                    <div formGroupName="{{index}}">
                                      <mat-icon>check_box_outline_blank</mat-icon>
                                      <mat-form-field>
                                        <input 
                                          matInput
                                          placeholder="option"
                                          formControlName="value">
                                      </mat-form-field>
                                      <button mat-icon-button (click)="removeOption(i,j)">
                                        <mat-icon>delete</mat-icon>
                                      </button>
                                    </div>
                                  </div>
                                  <p><span (click)="addOption(i, j)">add option</span></p>
                                </div>
                              </div>

                              <mat-form-field
                                *ngIf="selected === 'DROPDOWN'">
                                <mat-select>
                                  <mat-option></mat-option>
                                </mat-select>
                              </mat-form-field>

                              <mat-form-field
                              *ngIf="selected === 'FILE_UPLOAD'">
                              </mat-form-field>

                              <mat-form-field
                                *ngIf="selected === 'LINEAR_SCALE'">
                              </mat-form-field>

                              <mat-form-field
                                *ngIf="pilihan === 'MULTI_CHOICE_MULTI'">
                              </mat-form-field>

                              <mat-form-field
                                *ngIf="selected === CHECKBOX_GRID">
                              </mat-form-field>

                              <mat-form-field
                                *ngIf="selected === 'DATE_TYPE'">
                                <input 
                                  matInput
                                  [matDatepicker]="picker"
                                  placeholder="Month, day, year"
                                  > 
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>

                              <mat-form-field
                                *ngIf="selected === 'TIME_TYPE'">
                                <input 
                                  matInput
                                  placeholder="Time"> 
                                  <mat-icon matSuffix>access_time</mat-icon>
                              </mat-form-field>
                            </div>
                            <!-- End of Jawaban -->

                            <mat-divider></mat-divider>

                            <mat-card-actions>
                              <div fxFlex></div>
                              <button mat-icon-button>
                                <mat-icon>filter_none</mat-icon>
                              </button>
                              <button mat-icon-button (click)="removequestions(j)">
                                <mat-icon>delete</mat-icon>
                              </button>
                              <mat-slide-toggle>Wajib diisi</mat-slide-toggle>
                              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                              </button>
                              <!-- Mat Menu -->
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="removepages(i)">Delete</button>
                              </mat-menu>
                              <!-- End of Mat Menu -->
                            </mat-card-actions>
                          </div>
                        </mat-card>
                      </div>
                      <div >
                        <!-- Button per question -->
                        <mat-card class="mat-card-button">
                          <mat-card-actions align="end">
                            <ul>
                              <li>
                                <button mat-icon-button type="button" (click)="addquestions(i)">
                                  <mat-icon>add_circle</mat-icon>
                                </button>
                              </li>
                              <li>
                                <button mat-icon-button>
                                  <mat-icon>text_fields</mat-icon>
                                </button>
                              </li>
                              <li>
                                <button mat-icon-button>
                                  <mat-icon>photo</mat-icon>
                                </button>
                              </li>
                              <li>
                                <button mat-icon-button>
                                  <mat-icon>video_call</mat-icon>
                                </button>
                              </li>
                              <li>
                                <button mat-icon-button type="button" (click)="addpages()">
                                  <mat-icon>view_agenda</mat-icon>
                                </button>
                              </li>
                            </ul>
                          </mat-card-actions>
                        </mat-card>
                        <!-- End of button per question -->
                      </div>
                    </div>        
                    <!-- END OF QUESTIONS -->
                  </div>
                </div>
              </div>
              <!-- END OF CONTENT OF SECTION -->
            <br>
            <button mat-raised-button color="primary" form="formGroup" type="submit">Submit</button>
            </form>
            <!-- END OF SECTION -->
          </mat-tab>
          <mat-tab label="RESPONSE">
            <!-- RESPONSE -->
              <mat-card>
                <mat-card-title>Response</mat-card-title>
              </mat-card>
            <!-- END OF REPONSE -->
          </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card>
</section>
<pre>{{formGroup.value | json}}</pre>