mat-card {
    text-align: center;
    background-color: white;
    font-size: 16px;
    margin-top: 100px;
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

mat-card-content 
{
    width: 50%;
    align-self: center;
    padding-bottom: 20px;
}

mat-form-field {
    text-align: center;
}

span.mat-body.a {
    float: right;
    padding-top: 16px;
    color: gray;
}

span a {
    text-decoration: none;
    font-size: 14px;
}

span.mat-body.b {
    float: left;
    color: grey;
    padding-top: 16px;
}

mat-icon {
    color: gray;
}

.btn-primary {
    background-color: #3c4892;
    cursor: pointer;
    border-radius: 40px;
}

/* mat-spinner {
    float: left;
    margin-right: 10px;
    width: 10px;
    height: 10px;
} */

mat-card-actions {
    margin-top: 10px;
    padding-bottom: 20px;
}

.mat-h2 {
    text-align: left;
    color: #1E3465;
    padding-top: 180px;
    padding-left: 130px;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 2px;
}