<section fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxLayout="column" fxFlex.xs="60%" class="background">
    <mat-card-title fxFlex>
      <h2 class="mat-h2">REGISTER</h2> 
    </mat-card-title>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" fxLayout="column">
      <mat-card-content fxLayout="column">
        <mat-form-field fxFlex>
          <mat-icon matSuffix>person</mat-icon>
          <input matInput 
          placeholder="Username"
          type="text"
          formControlName="username"
          />
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-icon matSuffix>person</mat-icon>
          <input matInput 
          placeholder="First Name"
          type="text"
          formControlName="firstname"
          /> 
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-icon matSuffix>person</mat-icon>
          <input matInput 
          placeholder="Last Name"
          type="text"
          formControlName="lastname"
          />
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-icon matSuffix>email</mat-icon>
          <input matInput 
          placeholder="Email"
          type="text"
          formControlName="email"
          />
          <span *ngIf="(f.email.dirty || f.email.touched)
           && f.email.invalid && f.email.errors.required">
           Email is required</span>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-icon matSuffix>lock</mat-icon>
          <input matInput 
          placeholder="Password"
          type="password"
          formControlName="password" 
          autocomplete="off"
          />
        </mat-form-field>
        <div *ngIf="err" class="invalid-feedback">
          <p>Username and Email already used</p>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="center">
        <button
        fxFlex="40%"
        [disabled]="loading"
        mat-raised-button color= "primary"
        class="btn-primary">Sign Up</button>
        <mat-spinner 
        *ngIf="loading"
        fxFLex="30%"
        [diameter]="40">
        </mat-spinner>
      </mat-card-actions>
    </form>
  </mat-card> 
</section>

<style>
  mat-card {
    background-image: url("assets/images/card_signup.svg");
    display: flex;
    flex-grow: inherit;
    width: 640px;
    height: 700px;
    background-repeat: no-repeat;
    background-position: inherit;
    background-size:inherit;
    position: relative;
  }
</style>